@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='date'],
  input[type='number'],
  input[type='text'],
  select {
    @apply border border-gray-300 rounded-md px-3 py-2;
  }

  input[type='date']:focus,
  input[type='number']:focus,
  input[type='text']:focus,
  select:focus {
    @apply outline-none ring-2 ring-primary-500 border-transparent;
  }
}
